


.menu-area .top-menu-area .logo-top {
  text-align: center;
  max-width: 273px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 19px 0 0 15px;
}

.menu-area .top-menu-area .logo-top a {
  display: block;
}

.menu-area .top-menu-area .logo-top a img {
  padding-bottom: 19px;
}

.menu-area .top-menu-area .logo-top a {
  word-break: break-all;
  margin-right: 0;
}

.menu-area .top-menu-area .logo-top p {
  padding: 0 0 19px 0;
}

.menu-area .top-menu-area .logo-top img {
  max-width: 200px;
}

.menu-area.menu2 .top-menu-area .logo-top {
  padding-left: 0;
}

.menu-area .author__notification_area ul li {
  padding: 30px 0;
}

.menu-area .navbar-toggler {
  border: 1px solid;
  padding: 3px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  outline: 0;
}

.menu-area .navbar-toggler .icon-menu {
  font-size: 1.33333rem;
  display: inline-block;
  line-height: normal;
  margin-bottom: -3px;
}

.menu-area.menu--light .mobile-close-icon, .menu-area.menu--dark .mobile-close-icon {
  text-align: right;
}

.menu-area.menu--light .mobile-close-icon .navbar-toggler, .menu-area.menu--dark .mobile-close-icon .navbar-toggler {
  padding: 11px 21px 0 0;
  border-color: transparent;
}

.menu-area.menu--light .mobile-close-icon .navbar-toggler .icon-menu, .menu-area.menu--dark .mobile-close-icon .navbar-toggler .icon-menu {
  color: #242429;
  font-size: 24px;
  width: unset;
  height: unset;
}

.menu-area.menu--light .desktop-close-icon .desktop-close-icon .navbar-toggler, .menu-area.menu--dark .desktop-close-icon .desktop-close-icon .navbar-toggler {
  border-color: transparent;
}

.menu-area.menu--light .top-menu-area {
  background: transparent;
}

.menu-area.menu--light .top-menu-area .logo-top p {
  color: rgba(255, 255, 255, 0.7);
}

.menu-area.menu--light .mainmenu__menu .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.8);
}

.menu-area.menu--light .mainmenu__menu .navbar-nav > li.has_dropdown .dropdown-menu a {
  color: #5d658c;
}

.menu-area.menu--light .mainmenu__menu .navbar-nav > li.has_dropdown .dropdown-menu .dropdown-menu--inner > ul {
  background: #fff;
}

.menu-area.menu--light .mainmenu__menu .navbar-nav > li.has_dropdown .dropdown-menu .dropdown-menu--inner > ul li a {
  color: #5d658c;
}

.menu-area.menu--light .search-form button,
.menu-area.menu--light .author__notification_area ul li span:first-child {
  color: rgba(255, 255, 255, 0.8);
}

.menu-area.menu--light .author__notification_area {
  border-color: rgba(255, 255, 255, 0.1);
}

.menu-area.menu--light .search-wrapper .search_module .icon-left {
  color: #fff;
}

.menu-area.menu--light .search-wrapper .search_module .search_area form .input-group .form-control {
  color: #fff;
}

.menu-area.menu--light .search-wrapper .search_module .search_area form .input-group .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.menu-area.menu--light .search-wrapper .search_module .search_area form .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.menu-area.menu--light .search-wrapper .search_module .search_area form .input-group .form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.menu-area.menu--light .search-wrapper .search_module .search_area form .input-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.menu-area.menu--light .search-wrapper .search_module.active .icon-left {
  color: #272b41;
}

.menu-area.menu--light .search-wrapper .search_module.active .search_area form .input-group .form-control {
  border-color: rgba(39, 43, 65, 0.1);
  background: #fff;
  color: #272b41;
}

.menu-area.menu--light .search-wrapper .search_module.active .search_area form .input-group .form-control::-webkit-input-placeholder {
  color: #9299b8;
}

.menu-area.menu--light .search-wrapper .search_module.active .search_area form .input-group .form-control::-moz-placeholder {
  color: #9299b8;
}

.menu-area.menu--light .search-wrapper .search_module.active .search_area form .input-group .form-control::-ms-input-placeholder {
  color: #9299b8;
}

.menu-area.menu--light .search-wrapper .search_module.active .search_area form .input-group .form-control::placeholder {
  color: #9299b8;
}

.menu-area.menu--light .author__access_area ul li .access-link {
  color: rgba(255, 255, 255, 0.8);
}

.menu-area.menu--light .author__access_area ul li > span {
  color: rgba(255, 255, 255, 0.5);
}

.menu-area.menu--light .navbar-toggler {
  border-color: transparent;
}

.menu-area.menu--light .navbar-toggler .icon-menu {
  color: #ffffff;
  font-size: 26px;
}

.menu-area.menu--dark {
  background: #ffffff;
}

.menu-area.menu--dark .top-menu-area {
  border-bottom: 0 none;
  -webkit-box-shadow: 0 5px 1rem rgba(39, 43, 65, 0.05);
          box-shadow: 0 5px 1rem rgba(39, 43, 65, 0.05);
}

.menu-area.menu--dark .top-menu-area .logo-wrapper {
  border-color: rgba(39, 43, 65, 0.15);
}

.menu-area.menu--dark .mainmenu__menu .navbar-nav > li > a {
  color: #272b41;
  text-decoration: none;
}

.menu-area.menu--dark .mainmenu__menu .navbar-nav > li.has_dropdown .dropdown-menu a {
  color: #5d658c;
}

.menu-area.menu--dark .mainmenu__menu .navbar-nav > li.has_dropdown .dropdown-menu .dropdown-menu--inner > ul {
  background: #fff;
}

.menu-area.menu--dark .mainmenu__menu .navbar-nav > li.has_dropdown .dropdown-menu .dropdown-menu--inner > ul li a {
  color: #5d658c;
}

.menu-area.menu--dark .search-form button,
.menu-area.menu--dark .author__notification_area ul li span:first-child {
  color: rgba(255, 255, 255, 0.8);
}

.menu-area.menu--dark .author__notification_area {
  border-color: rgba(255, 255, 255, 0.1);
}

.menu-area.menu--dark .search-wrapper .search_module .icon-left {
  color: #272b41;
}

.menu-area.menu--dark .search-wrapper .search_module .search_area form .input-group .form-control {
  color: #272b41;
}

.menu-area.menu--dark .search-wrapper .search_module .search_area form .input-group .form-control::-webkit-input-placeholder {
  color: rgba(39, 43, 65, 0.5);
}

.menu-area.menu--dark .search-wrapper .search_module .search_area form .input-group .form-control::-moz-placeholder {
  color: rgba(39, 43, 65, 0.5);
}

.menu-area.menu--dark .search-wrapper .search_module .search_area form .input-group .form-control::-ms-input-placeholder {
  color: rgba(39, 43, 65, 0.5);
}

.menu-area.menu--dark .search-wrapper .search_module .search_area form .input-group .form-control::placeholder {
  color: rgba(39, 43, 65, 0.5);
}

.menu-area.menu--dark .search-wrapper .search_module.active .icon-left {
  color: #272b41;
}

.menu-area.menu--dark .search-wrapper .search_module.active .search_area form .input-group .form-control {
  border-color: rgba(39, 43, 65, 0.1);
  background: #fff;
  color: #272b41;
}

.menu-area.menu--dark .search-wrapper .search_module.active .search_area form .input-group .form-control::-webkit-input-placeholder {
  color: #9299b8;
}

.menu-area.menu--dark .search-wrapper .search_module.active .search_area form .input-group .form-control::-moz-placeholder {
  color: #9299b8;
}

.menu-area.menu--dark .search-wrapper .search_module.active .search_area form .input-group .form-control::-ms-input-placeholder {
  color: #9299b8;
}

.menu-area.menu--dark .search-wrapper .search_module.active .search_area form .input-group .form-control::placeholder {
  color: #9299b8;
}

.menu-area.menu--dark .author__access_area ul li .access-link {
  color: #272b41;
}

.menu-area.menu--dark .author__access_area ul li > span {
  color: rgba(39, 43, 65, 0.5);
}

.menu-area.menu--dark .navbar-toggler {
  border-color: transparent;
}

.menu-area.menu--dark .navbar-toggler .icon-menu {
  color: rgba(39, 43, 65, 0.7);
  font-size: 26px;
}

.menu-area.menu--dark .cart_module span.la {
  color: #272b41;
}

.menu-area .mainmenu__menu .navbar-nav > li.current-menu-item > a, .menu-area .mainmenu__menu .navbar-nav > li.current-menu-parent > a {
  color: orange!important;
  text-decoration: none;
}

.menu-area .mainmenu__menu .navbar-nav > li.current-menu-item .current-menu-item > a, .menu-area .mainmenu__menu .navbar-nav > li.current-menu-parent .current-menu-item > a {
  color: orange!important;
  text-decoration: none;
}

.menu-area .mainmenu__menu .navbar-nav > li.menu-item-has-children .current-menu-item > a {
  color: orange!important;
}

.menu-area .mainmenu__menu .navbar-nav > li .current-menu-item > a {
  color: orange!important;
}

/*****************************
	START MENU AREA
*****************************/
.top-menu-area {
  background: #fff;
  position: relative;
  z-index: 9999;
}

.top-menu-area .menu-fullwidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu-area .menu-fullwidth .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-wrapper {
  margin-right: 2rem;
  position: relative;
  min-width: 23.33333rem;
}

.search-wrapper .search_module {
  position: relative;
}

.search-wrapper .search_module .icon-left {
  position: absolute;
  left: 0.66667rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}

.search-wrapper .search_module .search_area form .input-group {
  margin: 0;
}

.search-wrapper .search_module .search_area form .input-group .form-control {
  background: none;
  padding-left: 2.66667rem;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}

.search-wrapper .search_module .search_area form .input-group .form-control::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-wrapper .search_module .search_area form .input-group .form-control::-moz-placeholder {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-wrapper .search_module .search_area form .input-group .form-control::-ms-input-placeholder {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-wrapper .search_module .search_area form .input-group .form-control::placeholder {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-wrapper .search_module .search_area form .input-group .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-wrapper .search_module.active + .search-categories {
  visibility: visible;
  opacity: 1;
}

.search-wrapper .search_module.active .search_area form .input-group .form-control {
  border: 1px solid;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}

.search-wrapper .search-categories {
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 3.2rem;
  z-index: 100;
  -webkit-box-shadow: 0 5px 0.66667rem rgba(39, 43, 65, 0.1);
          box-shadow: 0 5px 0.66667rem rgba(39, 43, 65, 0.1);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #fff;
}

.search-wrapper .search-categories ul {
  margin: 0;
}

.search-wrapper .search-categories ul li a {
  color: #5d658c;
  padding: 0.66667rem 1rem;
  display: block;
}

.search-wrapper .search-categories ul li a span {
  width: 2.26667rem;
  height: 2.26667rem;
  -webkit-border-radius: 20rem;
          border-radius: 20rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.53333rem;
  color: #fff;
}

.search-wrapper .search-categories ul li:hover {
  background: #f5f7fc;
}

.top-menu-area .top__menu ul li {
  display: inline-block;
}

.top-menu-area .top__menu ul li a {
  color: #555;
}

.author-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cart_module {
  position: relative;
}

.cart_module .cart__icon {
  position: relative;
  cursor: pointer;
}

.cart_module .cart__items {
  position: absolute;
  right: -18px;
  min-width: 350px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 22;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  top: calc(100% + 20px);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.cart_module .cart__items:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 13px;
  left: 0;
  top: -13px;
}

.cart_module .cart__items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
  border-bottom: 1px solid #e4e8ed;
}

.cart_module .cart__items .items .item_thumb {
  margin-right: 15px;
}

.cart_module .cart__items .items .item_info {
  margin-right: 10px;
}

.cart_module .cart__items .items .item_info > a {
  line-height: 1.53333rem;
  display: inline-block;
}

.cart_module .cart__items .items .item_info span {
  font-weight: 500;
}

.cart_module .cart__items .items .item_remove {
  display: inline-block;
  -webkit-transition: initial;
  -o-transition: initial;
  transition: initial;
  margin-left: auto;
}

.cart_module .cart__items .items .item_remove:hover span {
  color: #fff !important;
}

.cart_module .cart__items .items .item_remove span {
  font-size: 14px;
  line-height: 30px;
  width: 2rem;
  background: #f4f4f4;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.cart_module .cart__items .cart_info {
  padding: 20px 25px;
  margin-left: -5px;
  margin-right: -5px;
}

.cart_module .cart__items .cart_info p {
  margin: 0 5px 15px 5px;
}

.cart_module .cart__items .cart_info p span {
  font-weight: 500;
  font-size: 18px;
}

.cart_module .cart__items .cart_info p.text-center {
  margin-bottom: 0;
}

.cart_module .cart__items .cart_info a.button {
  color: #fff;
  display: inline-block;
  margin: 0 5px;
  padding: 8px 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.cart_module .cart__items .cart_info a.button.checkout {
  color: #fff;
}

.cart_module .cart__items.active {
  opacity: 1;
  visibility: visible;
  top: 38px;
}

.cart_module span.la {
  font-size: 1.66667rem;
  color: #fff;
}

.cart_module .cart_count {
  position: absolute;
  top: -0.93333rem;
  left: 3px;
  display: inline-block;
  line-height: 1.13333rem;
  min-width: 1.13333rem;
  text-align: center;
  font-size: 0.73333rem;
  -webkit-border-radius: 13.33333rem;
          border-radius: 13.33333rem;
}

.author__access_area {
  padding: 20px 15px 20px 35px;
}

.author__access_area ul {
  margin: 0;
}

.author__access_area ul li {
  margin-right: 2rem;
}

.author__access_area ul li:last-child {
  margin-right: 0;
}

.author__access_area ul li > span {
  display: inline-block;
  padding: 0 4px;
}

.author__access_area ul li .author-info {
  position: relative;
}

.author__access_area ul li .author-info img {
  cursor: pointer;
}

.author__access_area ul li .author-info .author-avatar {
  display: block;
}

.author__access_area ul li .author-info .author-avatar img {
  width: 42px;
}

.author__access_area ul li .author-info ul {
  background: #fff;
  -webkit-box-shadow: 0 -3px 2rem rgba(39, 43, 65, 0.1);
          box-shadow: 0 -3px 2rem rgba(39, 43, 65, 0.1);
  position: absolute;
  right: 0;
  min-width: 13.33333rem;
  top: 50px;
  padding: 1rem 0;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.author__access_area ul li .author-info ul li {
  margin: 0;
  padding: 0 0.66667rem;
}

.author__access_area ul li .author-info ul li a {
  display: block;
  color: #5d658c;
  padding: 0.46667rem 1rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.author__access_area ul li .author-info ul li a:hover {
  color: #fff;
}

.author__access_area ul li .author-info ul.active {
  visibility: visible;
  opacity: 1;
}

.author__access_area ul li .author-info .offcanvas-menu__user img {
  width: 2.66667rem;
}

.author__access_area ul li.nav_woocart {
  margin-right: 0;
}

.menu2 .author__access_area {
  padding-right: 0;
}

.author-avatar img {
  width: 90px;
  height: auto;
}

/* start mainenu area css */
.mainmenu__menu {
  border: none;
  margin: 0;
  padding: 0;
}

.mainmenu__menu .navbar-collapse {
  padding: 0;
  float: left;
}

.mainmenu__menu .navbar-nav > li {
  display: inline-block;
  padding: 0;
  margin-right: 30px;
}

.mainmenu__menu .navbar-nav > li > a {
  font-weight: 500;
  padding: 0;
  font-size: 16px;
  line-height: 42px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

/* offcanvas menu */
.offcanvas-menu {
  position: relative;
}

.offcanvas-menu .offcanvas-menu__user {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.33333rem;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.offcanvas-menu .offcanvas-menu__user img {
  width: 2.66667rem;
}

.offcanvas-menu .offcanvas-menu__contents {
  position: fixed;
  height: 100vh;
  width: 220px;
  top: 0;
  right: -250px;
  background: #fff;
  z-index: 989999;
  overflow-y: scroll;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 -2px 20px rgba(39, 43, 65, 0.08);
          box-shadow: 0 -2px 20px rgba(39, 43, 65, 0.08);
  padding: 2.66667rem 1.66667rem 1.66667rem;
}

.offcanvas-menu .offcanvas-menu__contents.active {
  right: -10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.offcanvas-menu .offcanvas-menu__contents .offcanvas-menu__close {
  position: absolute;
  left: 1rem;
  top: 2.66667rem;
  font-size: 1.46667rem;
  color: #7a82a6;
}

.offcanvas-menu .offcanvas-menu__contents .author-avatar {
  text-align: center;
  border-bottom: 1px solid #EBECEF;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.offcanvas-menu .offcanvas-menu__contents ul li {
  margin-right: 0;
}

.offcanvas-menu .offcanvas-menu__contents ul li a {
  display: block;
  padding: 8px 0.66667rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #5d658c;
}

.offcanvas-menu .offcanvas-menu__contents ul li a.active, .offcanvas-menu .offcanvas-menu__contents ul li a:hover {
  color: #fff;
}

.offcanvas-menu .offcanvas-menu__contents .search_area {
  margin-top: 1.33333rem;
  text-align: center;
}

.offcanvas-menu .offcanvas-menu__contents .search_area .btn {
  margin-top: 0.66667rem;
}

.mobile-add-listing {
  display: none;
}

.mobile-add-listing a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: orange;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.mobile-login a {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background:orange;
}


.la, .las {
  font-family: 'Line Awesome Free';
  font-weight: 900;
}
.la, .lab, .lad, .lal, .lar, .las {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
/* .form-control {
  margin-bottom: 30px;
} */