.title  
{  
        margin-bottom: 20px;  
        padding:20px  
}  
/* .item
{  
    height: 260px;width:100%  
}  */
.category-slider__single{
    /* width: 225.5px; 
    margin-right: 0; */
}
.section-title h3 {
    margin-top: 90px;
    margin-bottom: 13px;
    font-family: unset;
    text-align: center;
}
.section-title p {
    margin: 0 auto;
    font-size: 1.2rem;
    margin-bottom: 39px;
    text-align: center;
}
owl-nav button.owl-next {
    margin-right: -10px;
}

.category-slider__single a{
 text-decoration: none;
 color: black;
 font-size: 20px;
}
/* .widget-container {
    padding: 90px;
} */